html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div, input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

#root-container {
  background-color: black;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#left-container {
  flex: 0 0 625px;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#right-container {
  flex: 1 0 auto;
  height: 100%;
  background-color: rgb(33, 178, 254);
}

@media all and (max-height: 450px) {
  #root-container {
    height: 450px;
  }
}

@media all and (max-width: 1250px) {
  #left-container {
    flex: 1 0 100px;
    /*background-color: pink;*/
  }

  #right-container {
    flex: 1 0 100px;
  }
}

@media all and (max-width: 975px) {
  #left-container {
    flex: 0 0 485px;
    /*background-color: red;*/
  }

  #right-container {
    flex: 1 0 auto;
  }
}

@media all and (max-width: 770px) {
  #root-container {
    flex-wrap: wrap;
    height: 1400px;
  }

  #left-container {
    flex: 0 0 100%;
    height: 600px;
    /*background-color: purple;*/
  }

  #right-container {
    height: 900px;
    flex: 0 0 100%;
  }
}

#app-name {
  width: 100%;
  flex: 0 0 100px;

  background-color: red;
  /*padding: 20px 20px;*/
}

#register-form {
  width: 100%;
  flex: 1 0 auto;

  background-color: blue;
  /*padding-left: 60px;*/
}

#next {
  width: 100%;
  flex: 0 0 150px;

  background-color: yellow;
}

#app-name a {
  color: #777;
  font-size: 30px;

  /*margin-top: 10px;*/
  /*margin-left: 10px;*/
}

#register-form h1 {
  font-weight: 100;
}

#register-form input {
  height: 35px;
  width: 200px;

  border: 2px solid #ddd;
  border-radius: 5px;
  padding-left: 8px;

  font-size: 20px;
  font-weight: 300;
  color: #444;
}

#register-form input:focus {
  border: 2px solid #aaa;
}

#next-button {
  height: 50px;
  width: 130px;

  border: none;
  border-radius: 5px;

  background-color: #ccc;

  font-size: 20px;
  color: white;
}
