@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body, div, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, button, input {
  margin: 0;
  padding: 0;

  color: #333;
  font-family: 'Roboto Condensed', 'helvetica', sans-serif, serif;
}

div, input, button {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/* ============================= Font Colors ================================ */

.black-deep {
  color: #000;
}

.black {
  color: #222;
}

.black-light {
  color: #333;
}

.gray {
 color: #fafafa;
}

.white {
  color: #fff;
}

.purple {
  color: #512DA8;
}

.pink {
  color: pink;
}

.red {
  color: #ED2643;
}

/* ========================== Background Colors ============================= */

.background-black-deep {
  background-color: #000;
}

.background-black {
  background-color: #222;
}

.background-black-light {
  background-color: #333;
}

.background-gray-deep {
  /* TODO */
}

.background-gray {
  background-color: #fafafa;
}

.background-gray-light {
  /* TODO */
}

.background-white {
  background-color: #fff;
}

.background-purple {
  background-color: #512DA8;
}

.background-pink {
  background-color: pink;
}

/* ========================== Transition Colors ============================= */

.trans-purple:hover {
  background-color: #512DA8;
  transition: .2s;
}

/* =========================== Inputs ======================================== */

.input {
  height: 40px;

  padding-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  font-size: 20px;
}

.input::placeholder {
  color: #ccc;
}

.input:focus {
  border: 2px solid #888;
  padding-left: 9px;
}

.input-big {
  height: 50px;

  border: 2px solid #ddd;
  border-radius: 5px;

  font-size: 20px;
  font-weight: 300;
  color: #444;
  padding-left: 10px;

  transition: .2s;
}

.input-big::placeholder {
  color: #ccc;
}

.input-big:focus {
  border-color: #888;
}

.input-big:focus::placeholder {
  color: #ddd;
}

.input-error {
  color: #ED2643;
  border: 2px solid #ED2643;
  padding-left: 9px;
}

.input-error::placeholder {
  color: pink;
}

.input-error:focus {
  border: 2px solid #ED2643;
}

/* ============================== Buttons ================================= */

.button-trans {
  height: 50px;
  width: 200px;

  border: none;
  border-radius: 5px;

  background-color: #333;
  font-size: 20px;
  color: white;
}

.button-trans:hover {
  background-color: #512DA8;
  transition: .2s;
}

/* ============================= Pop Ups ================================== */

/* TODO */

/* ============================== Others ================================== */

.app-link {
  font-size: 30px;
}

.error-message {
  color: #ED2643;
}

.shadow {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.circle-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* ================================ Grid =================================== */

.fullscreen {
  height: 100%;
  width: 100%;
}
