@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@dark-black: #000;
@black: #222;
@light-black: #333;

@dark-gray: #888;
@gray: #ccc;
@light-gray: #ddd;

@dark-white: #fafafa;
@white: #fff;

@purple: #512DA8;
@pink: pink;
@red: #ED2643;
@green: #00D62B;

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
input {
  margin: 0;
  padding: 0;
  color: @light-black;
  font-family: 'Roboto Condensed', 'helvetica', sans-serif, serif;
}

div,
input,
button {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/* ========================== Transition Colors ============================= */

.trans-purple {
  background-color: @purple;
  transition: .2s;
}


/* =========================== Inputs ======================================== */

.input {
  height: 40px;
  width: 80%;
  padding-left: 10px;
  border: 1px solid @light-gray;
  border-radius: 5px;
  font-size: 20px;

  &:focus {
    border: 2px solid @dark-gray;
    padding-left: 9px;
  }

  &::placeholder {
    color: @gray;
  }
}

.input-big {
  height: 50px;
  border: 2px solid @light-gray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
  color: @light-black;
  padding-left: 10px;
  transition: .2s;

  &:focus {
    border-color: @dark-gray;
  }

  &::placeholder {
    color: @gray;
  }

  &:focus::placeholder {
    color: @light-gray;
  }
}

.input-error {
  color: @red;
  border: 2px solid @red;
  padding-left: 9px;

  &:focus {
    border: 2px solid @red;
  }

  &::placeholder {
    color: @pink;
  }
}


/* ============================== Buttons ================================= */

.button-purple {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: @purple;
  font-size: 20px;
  color: @white;
}

.button-trans {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: @light-black;
  font-size: 20px;
  color: @white;

  &:hover {
    .trans-purple;
  }
}

/* ============================= Pop Ups ================================== */

.pop-fullscreen {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: @dark-black;
  opacity: .9;
  z-index: 99;
  /* Always on top */
}

.pop-dropdown {
  position: absolute;
  min-width: 300px;
  border-radius: 10px;
  // background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/*
.dropdown-content li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 16px;
  border-top: 1px solid #f8f8f8;

  font-size: 20px;
  color: black;
  cursor: pointer;
}

.dropdown-content li:hover {
  background-color: #f1f1f1
}

.dropdown-content li p {
  padding-left: 15px;
}
*/


/* ============================== Others ================================== */

.app-link {
  font-size: 30px;
}

.error-message {
  color: @red;
}

.shadow {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.circle-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


/* ================================ Grid =================================== */

.fullscreen {
  height: 100%;
  width: 100%;
}

/* 水平置中 */
// TODO